<section>
    <div>
        <ion-button shape="round" routerLink="/progettista/curriculum" routerLinkActive="active">Curriculum</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/progettista/addcurriculum" routerLinkActive="active">Aggiungi Curriculum</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/progettista/inviti" routerLinkActive="active">Inviti</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/progettista/inviacandidatura" routerLinkActive="active">Invia Candidatura</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/progettista/removecandidatura" routerLinkActive="active">Rimuovi Candidature</ion-button>
    </div>
    <div>
        <ion-button color="success" shape="round" routerLink="/progettista/notifiche" routerLinkActive="active">Notifiche</ion-button>
    </div>
</section>