<section>
    <div>
        <ion-button shape="round" routerLink="/proponenteprogetto/createprogetto" routerLinkActive="active">Crea Progetto</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/proponenteprogetto/pgestiti" routerLinkActive="active">Progetti Gestiti</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/proponenteprogetto/progettigestiti" routerLinkActive="active">Invita Progettista</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/proponenteprogetto/gestirecandidature" routerLinkActive="active">Gestire Candidature</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/proponenteprogetto/" routerLinkActive="active">Rimuovere Progetto</ion-button>
    </div>
    <div>
        <ion-button shape="round" routerLink="/proponenteprogetto/removeprogettista" routerLinkActive="active">Rimuovere Progettista</ion-button>
    </div>
</section>