/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */


ion-list{
    --ion-background-color:#303030;
    --ion-text-color: #FFFFFF;
}

ion-input{
    --ion-background-color:#FFFFFF;
}
ion-button{
    --ion-color-primary: #7B1FA2;
}

ion-card-subtitle{
    text-align: center;
}
ion-card-title{
    text-align: center;
}
ion-card-content{
    text-align: center;
}
ion-card{
    margin-left: 18%;      
    margin-right: 18%;
    width: auto;
}